# Ignore the build directory
**/models/

# Ignore the egg-info directory
**/configs/

# Ignore Python cache files
**/__pycache__/

# Ignore week_4 data directory
week_4/data/

final/data/

ml_lab/

*/checkpoints/